* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

:root {
    --color-primary: #fefefe;
}

#root {
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0 30%;
}

.hiddenInfo {
    display: none;
}

.userCardsContainer {
    display: flex;
    flex-wrap: wrap;
    margin-top: 50px;
    gap: 10px;
}

.userCard {
    border: solid 3px gray;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0 20px;
}

.userCard img {
    width: 80px;
}

input {
    padding: 5px;
    margin-top: 20px;
}